<div class="sidebar">
    <div class="iconCustom">
        <img class="iconPush" src="../../../../assets/iconosChatbot/593code.JPG" alt="593Code">
    </div>
    <nav class="mt-1">
        <ul class="sidebar-menu">
            <div class="sidebar-item" >
                <li >
                    <a  routerLink="/ChatBot" routerLinkActive="active slidebar-link">
                        <div class="icon-container">
                            <!-- <img src="../../../../assets/iconosChatbot/agenda.png" class="slidebar-img" alt="Audience"> -->
                        </div>
                        <div class="title-container">
                            <span class="slidebar-title">Chat Bot</span>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
    
</div>