<!-- <div>
    <div>
        <h4>Lista de contactos</h4>
    </div>

    <div class="scroll-container">
        <div *ngFor="let data of contactdata">
            <button cButton color="dark" variant="outline" class="mt-2" (click)="logId(data.id)">
                {{data.name}} <br>
                {{data.id}}
            </button>
        </div>
    </div>
    
    
</div> -->

<div class="container d-flex justify-content-center">
    <a href="http://localhost:4200/#/ChatBot">
        <img src="../../../../../assets/images/avatars/contact.png" style="width: 1100px;" class="img-fluid" alt="Descripción de la imagen">
    </a>
</div>
